@import "./reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background:url(https://lh5.googleusercontent.com/proxy/xvtq6_782kBajCBr0GISHpujOb51XLKUeEOJ2lLPKh12-xNBTCtsoHT14NQcaH9l4JhatcXEMBkqgUeCWhb3XhdLnD1BiNzQ_LVydwg=w3840-h2160-p-k-no-nd-mv) no-repeat center;
  background-size:cover;
}

*{
  color:#fff;
}